body{
    background-color: #000000dc;
}
body > div{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: beige;
    text-align: center
}
#photo-holder {
    height: 50vmin;
    width: 50vmin;
    border-radius: 50% 0%;
    display: inline-block;
    border: 2px inset beige;
    background-image: url(../img/profile_photo.jpg);
    background-position: 50% 30%; 
}
#personal-links > a {
    margin: 3vmin;
    font-size: 4vmin;
    color: beige;
    text-decoration-line: none;
}