body{
    background-color: #000000dc;
}
body > div{
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: beige;
    text-align: center;
    transform: translateY(-50%);
}
#photo-holder {
    height: 35vmin;
    width: 35vmin;
    border-radius: 50% 0%;
    display: inline-block;
    border: 2px inset beige;
    background-image: url(../img/profile_photo.jpg);
    background-position: 51.5% 32%; 
}
#personal-links > a {
    margin: 3vmin;
    font-size: 4vmin;
    color: beige;
    text-decoration-line: none;
    margin-top: unset;
}
#bio {
    margin-left: 15%;
    margin-right: 15%;
}
#bio > p {
    margin-top: 2vmin;
    font-style: italic;
}
@media (max-width: 800px), (max-height: 800px){
    #personal-links > a {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 25px;
    }
}
@media (max-height: 500px) {
    body > div {
        top: 20px;
        transform: none;
    }
}